@model Usuario

@{
    ViewData["Title"] = @Context.User.Identity.Name;
}

<h1>@Context.User.Identity.Name @Context.User.FindFirst("LAST_NAME").Value</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">IdUsuario</dt>
        <dd class = "col-sm-10">
            @Context.User.FindFirst("ID").Value
        </dd>

        <dt class = "col-sm-2">Email</dt>
        <dd class = "col-sm-10">
            @Context.User.FindFirst("EMAIL").Value
        </dd>


        <dt class = "col-sm-2">Foto</dt>
        <dd class = "col-sm-10">
            <img src="~/images/@(Context.User.FindFirst("PHOTO").Value)" style="max-height: 20vh;"/>
        </dd>

    </dl>
</div>
<div>
    <a asp-controller="Libros" asp-action="Libros" class="btn btn-secondary">
        Volver
    </a>
    <a asp-controller="Managed" asp-action="LogOut" class="btn btn-danger">
        Hasta luego, @Context.User.Identity.Name
    </a>
</div>